@charset "UTF-8";

/* Larger Desktops*/

@media screen  and (min-width: 1280px) {

    .responsivo {
        flex-direction: row;
        justify-content: center;
    }

    #botao-up {
        display: none;
    }

    /* Header */

    header {
        position: fixed;
        height: 10%;
    }

    #menu-mobile {
        display: none;
    }    

    #menuescondido {
        display: block;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        padding-right: 0px;
        padding-bottom: 50px;
    }
    
    ul {
        background-color: #121212;
        position: relative;
        padding-top: 0px;
        right: 0;
        width: 100%;
        text-align: right;
        padding-right: 20px;
        border-radius: 0px 0px 0px 0px;
    }

    li {        
        display: flex;
        display: inline;
        margin: 0px 8px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .estilo-img-wpp {
        height: 170px;
        top: 79%;
    }

    /* Endereço */

    .endereco {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .texto-endereco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 3.125rem;
    }

    /* Apresentação */

    .home-background {
        height: 70vh;
        background: linear-gradient(rgba(0, 0, 0, 0.829), rgb(0, 0, 0, 0.829)), url(../Imagens/background.jpeg) no-repeat center top 25%;
    }

    .home-background-img {
        max-width: 800px;
        max-height: 450px;
    }

    h1 {
        font-size: 7rem;
    }

    /* Rodízio */

    .vinho {
        padding-bottom: 100px;
    }

    /* Combinados */

    .bege {
        padding-bottom: 100px;
    }

    /*Ajuste Opções Cardápio*/

    .padrao-vinho {
        margin: 0px 80px;
    }

    .padrao-bege {
        margin: 0px 80px;
    }

    .padrao-combinado{
        margin-bottom: 80px;
    }

}

/* Desktop */

@media screen  and (min-width: 1023px) and (max-width: 1280px){

    .responsivo {
        flex-direction: row;
        justify-content: space-around;
    }

    /* Header */

    header {
        position: fixed;
        height: 10%;
    }

    /* Menu */
    #menu-mobile {
        display: none;
    }

    #menuescondido {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: row;
        padding-right: 0px;
        padding-bottom: 50px;
    }

    ul {
        background-color: #121212;
        position: relative;
        padding-top: 0px;
        right: 0;
        width: 100%;
        text-align: right;
        padding-right: 20px;
        border-radius: 0px 0px 0px 0px;
    }

    li {        
        display: flex;
        display: inline;
        margin: 0px 8px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    /*-----------------------------------------------------*/

    #botao-up {
        display: none;
    }

    .estilo-img-wpp {
        height: 170px;
        top: 79%;
    }


    /* Apresentação */

    .home-background {
        height: 70vh;
    }

    .home-background-img {
        max-width: 800px;
        max-height: 450px;
    }

    h1 {
        font-size: 7rem;
    }

    /* Rodízio */

    .vinho {
        flex-direction: row;
    }


    /* Endereço */

    .endereco {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .texto-endereco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 3.125rem;
    }
}

@media screen  and (min-width: 768px) and (max-width: 1022px){ 

    .responsivo {
        flex-direction: row;
        justify-content: space-around;
    }

    .estilo-img-wpp {
        height: 170px;
        top: 79%;
    }
    
    /* Apresentação */

    .home-background {
        height: 30vh;
    }

    .home-background-img {
        max-width: 400px;
        max-height: 225px;
    }

    h1 {
        font-size: 5rem;
    }

    /* Endereço */

    .endereco {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .texto-endereco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 3.125rem;
    }
    

}
