@charset "UTF-8";

@font-face {
    font-family: 'boku no hero';
    src: url('../fonte/boku-no-hero.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --preto: #121212;
    --vinho: #72000f;
    --bege: #EBE0CE;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
 }

 h1, h2, h3 {
    font-family: 'boku no hero';
 }

 .estilo-img-wpp {
    height: 120px;
    position: fixed;
    float: left;
    top: 85%;
    filter: drop-shadow(10px 5px 5px black);
    z-index: 10;
}

.responsivo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao-up {
    position: fixed;
    right: 30px;
    top: 90%;
}

#botao-up {
    position: fixed;
    right: 30px;
    top: 90%;
    background-color: var(--vinho);
    border-radius: 50%;
    color: var(--bege);
    font-size: 2.7rem;
    z-index: 25;
}

a {
    text-decoration: none;
    color: var(--bege);
    font-family: 'boku no hero';
    font-size: 22px;
}

.ver-mais {
    font-size: 16px;
    font-family: 'boku no hero';
    display: flex;
    align-items: center;
    text-align: center;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--preto);
    width: 100%;
    box-shadow: -10px 5px 10px black;
    z-index: 10;
}

header img {
    height: 5.313rem;
    padding-left: 1.25rem;
}

#menu-mobile {
    cursor: pointer;
    margin-right: 2.50rem;
    color: var(--bege);
    font-size: 36px;
}

nav {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    z-index: 9;
}

#menuescondido {
    display: none;
    /*visibility: hidden;*/
    margin-top: 60px;
}

ul {
    background-color: #121212;
    position: absolute;
    padding-top: 30px;
    right: 0;
    width: 200px;
    text-align: right;
    padding-right: 30px;
    border-radius: 0px 0px 0px 20px;
}


li {
    padding-bottom: 40px ;
}


/* Apresentação */

.home-background {
    background: linear-gradient(rgba(0, 0, 0, 0.829), rgb(0, 0, 0, 0.829)), url(../Imagens/background.jpeg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
}

.home-background-img {
    max-width: 187.5px;
    max-height: 233px;
    width: auto;
    height: auto;
    margin: -50px;
    padding-top: 10px;
}

h1 {
    font-size: 3.5rem;
    padding-bottom: 50px;
    color: #FDF200;
    text-shadow: #eb0012 1px 5px 0px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
}



/* Rodízio */

.vinho {
    background-color: var(--vinho);
    text-align: center;
}

.vinho h2 {
    color: var(--bege);
    font-size: 2.5rem;
    padding-bottom: 5rem;
    padding-top: 2.5rem;
}

.padrao-bege {
    height: 13rem;
    width: 12.5rem;
    background-color: var(--bege);
    border-radius: 20px;
    text-align: center;
    font-size: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    color: var(--vinho);
}

.padrao-bege:hover {
    height: 20rem;
    transition: 0.7s;
}

.hidden-p {
    font-size: 0px;
    position: absolute;
    height: 11rem;
    width: 12.5rem;
    line-height: 14px;
    margin-top: 10px;
}

.hidden-p:hover {
    font-size: 12px;
    height: 7rem;
    padding-top: 200px;
    transition: 0.7s;
    visibility: visible;
}

.estilo-linha-rodizio {
    font-weight: bolder;
    line-height: 30px;
}

.img-padrao-vinho {
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #72000f;
    margin-top: -30px;
    margin-bottom: 10px; 
}

#img-individual {
    background: url(../Imagens/rodizio/rodizio-individual.jpg) no-repeat center center;
    background-size: cover;
}

#img-casal {
    background: url(../Imagens/rodizio/rodizio-casal.jpg) no-repeat center center;
    background-size: cover;
}

#img-familia{
    background: url(../Imagens/rodizio/rodizo-familia.jpg) no-repeat center center;
    background-size: cover;
}

/* Combinados */

.degrade-bege {
    height: 7.5rem;
    background: linear-gradient( #72000f, #EBE0CE );
}

.bege {
    text-align: center;
    background-color: var(--bege); 
}

.bege h2 {
    color: var(--vinho);
    font-size: 2.5rem;
    padding-bottom: 5rem;
    padding-top: 2.5rem;
}

.padrao-vinho {
    height: 13rem;
    width: 12.5rem;
    background-color: var(--vinho);
    border-radius: 20px;
    text-align: center;
    font-size: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    color: var(--bege);
}

.padrao-vinho:hover {
    height: 20rem;
    transition: 0.7s;
}

.img-padrao-bege {
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #EBE0CE;
    margin-top: -30px;
    margin-bottom: 10px; 
}

.estilo-linha-combinado {
    font-weight: bolder;
    line-height: 0px;
}

#img-all-might {
    background: url(../Imagens/combo/all-might.jpg) no-repeat center center;
    background-size: cover;
}

#img-midoriya {
    background: url(../Imagens/combo/midoryia.jpg) no-repeat center center;
    background-size: cover;
}

#img-todoroki {
    background: url(../Imagens/combo/todoroki.jpg) no-repeat center center;
    background-size: cover;
}

#img-bakugo {
    background: url(../Imagens/combo/bakugo.jpeg) no-repeat center center;
    background-size: cover;
}

#img-uraraka {
    background: url(../Imagens/combo/uraraka.jpeg) no-repeat center center;
    background-size: cover;
}

#img-mirio {
    background: url(../Imagens/combo/mirio.jpg) no-repeat center center;
    background-size: cover;
}

/* Poke */

.degrade-vinho {
    height: 7.5rem;
    background: linear-gradient(#EBE0CE, #72000f );
}

.ajuste-misto {
    font-size: 32px;
}

.ajuste-empanado {
    font-size: 25px;
}

#img-misto {
    background: url(../Imagens/Poke/salmão-misto.jpg) no-repeat center center;
    background-size: cover;
}

#img-havaiano {
    background: url(../Imagens/Poke/poke-havaiano.jpg) no-repeat center center;
    background-size: cover;
}

#img-empanado {
    background: url(../Imagens/Poke/poke-de-salmao-empanado.jpg) no-repeat center center;
    background-size: cover;
}

/* Temaki */

.ajuste-philadelphia {
    font-size: 32px;
}

#img-skin {
    background: url(../Imagens/temaki/temaki-skin.avif) no-repeat center center;
    background-size: cover;
}

#img-philadelphia {
    background: url(../Imagens/temaki/temaki-philadelfia.jpg) no-repeat center right;
    background-size: cover;
}

#img-hot {
    background: url(../Imagens/temaki/temaki-hot.jpg) no-repeat center center;
    background-size: cover;
}

/* Entradas */

#img-sunomono {
    background: url(../Imagens/entradas/sunomono.png) no-repeat center center;
    background-size: cover;
}

#img-shimeji {
    background: url(../Imagens/entradas/shimeji.jpg) no-repeat center right;
    background-size: cover;
}

#img-guioza {
    background: url(../Imagens/entradas/guioza.webp) no-repeat center center;
    background-size: cover;
}

/* Pratos Quentes */

#img-camarao {
    background: url(../Imagens/pratos-quentes/camarão.jpg) no-repeat center center;
    background-size: cover;
}

#img-salmao {
    background: url(../Imagens/pratos-quentes/Salmao-grelhado-1.webp) no-repeat center center;
    background-size: cover;
}

#img-harumaki {
    background: url(../Imagens/pratos-quentes/harumaki.jpg) no-repeat center center;
    background-size: cover;
}

/* Bebidas */

.ajuste-refri {
    font-size: 32px;
}

#img-agua {
    background: url(../Imagens/bebidas/agua.jpg) no-repeat center center;
    background-size: cover;
}

#img-refri {
    background: url(../Imagens/bebidas/refri.jpg) no-repeat center center;
    background-size: cover;
}

#img-suco {
    background: url(../Imagens/bebidas/suco.jpg) no-repeat center center;
    background-size: cover;
}

/* Sobremesa */

.ajuste-hot-banana {
    font-size: 32px;
}

.ajuste-uramaki {
    font-size: 24px;
}

#img-ichigo {
    background: url(../Imagens/sobremesas/ichigo.jpeg) no-repeat center center;
    background-size: cover;
}

#img-hot-banana {
    background: url(../Imagens/sobremesas/hot-roll-de-banana-com.jpg) no-repeat center center;
    background-size: cover;
}

#img-uramaki-morango {
    background: url(../Imagens/sobremesas/uramaki-morango-com-nutella.jpg) no-repeat center center;
    background-size: cover;
}

/* Endereço */


.endereco p {
    color: var(--bege);
    text-align: center;
    line-height: 50px;
    font-family: "boku no hero";
    font-size: 1.25rem;

}

.endereco img {
    height: 300px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: -10px 5px 10px black ;
} 

/* Footer */

footer {
    background-color: var(--vinho);
    text-align: center;
}

.div-footer img{
    height: 30px;
    padding: 50px 10px 10px 10px;
}

footer p {
    color: var(--bege);
    padding-bottom: 40px;
    font-family: "boku no hero";
}

/*Efeito*/

.txt-topo, .img-topo, .titulos-efeito, .estilo-img-wpp, .padrao-bege, .end1, .end2, .end3, endereco-img {
    visibility: hidden;
}