@charset "UTF-8";

@font-face {
    font-family: 'boku no hero';
    src: url('../fonte/Futura Display BQ Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --preto: #121212;
    --vinho: #72000f;
    --bege: #EBE0CE;
}

html {
    box-sizing: border-box;
 }

 h1, h2, h3 {
    font-family: 'boku no hero';
 }

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--preto);
}

header img {
    height: 5.313rem;
    padding-left: 1.25rem;
}

#menu-mobile {
    margin-right: 2.50rem;
    color: var(--bege);
    font-size: 36px;
}

/* Apresentação */

.home-background {
    background: linear-gradient(rgba(0, 0, 0, 0.829), rgb(0, 0, 0, 0.829)), url(../Imagens/background.jpeg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.home-background img {
    max-width: 187.5px;
    max-height: 233px;
    width: auto;
    height: auto;
    margin: -50px;
}

h1 {
    font-size: 3.5rem;
    color: #FDF200;
    text-shadow: #eb0012 1px 5px 0px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
}

/* Rodízio */

.vinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--vinho);
}

.vinho h2 {
    color: var(--bege);
    font-size: 2.5rem;
    padding-bottom: 5rem;
    padding-top: 2.5rem;
}

.padrao-bege {
    height: 11rem;
    width: 12.5rem;
    background-color: var(--bege);
    border-radius: 20px;
    text-align: center;
    font-size: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    color: var(--vinho);
}

.padrao-bege:hover {
    height: 20rem;
    transition: 0.7s;
}

.hidden-p {
    font-size: 0px;
    position: absolute;
    height: 11rem;
    width: 12.5rem;
}

.hidden-p:hover {
    font-size: 12px;
    height: 7rem;
    padding-top: 200px;
    transition: 0.7s;
    visibility: visible;

}

.img-padrao-vinho {
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #72000f;
    margin-top: -30px;
    margin-bottom: 10px; 
}

#img-individual {
    background: url(../Imagens/rodizio/rodizio-individual.jpg) no-repeat center center;
    background-size: cover;
}

#img-casal {
    background: url(../Imagens/rodizio/rodizio-casal.jpg) no-repeat center center;
    background-size: cover;
}

#img-familia{
    background: url(../Imagens/rodizio/rodizo-familia.jpg) no-repeat center center;
    background-size: cover;
}

/* Combinados */

.degrade-bege {
    height: 7.5rem;
    background: linear-gradient( #72000f, #EBE0CE );
}

.bege {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bege); 
}

.bege h2 {
    color: var(--vinho);
    font-size: 2.5rem;
    padding-bottom: 5rem;
    padding-top: 2.5rem;
}

.padrao-vinho {
    height: 11rem;
    width: 12.5rem;
    background-color: var(--vinho);
    border-radius: 20px;
    text-align: center;
    font-size: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    color: var(--bege);
}

.padrao-vinho:hover {
    height: 20rem;
    transition: 0.7s;
}

.img-padrao-bege {
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #EBE0CE;
    margin-top: -30px;
    margin-bottom: 10px; 
}

#img-all-might {
    background: url(../Imagens/combo/all-might.jpg) no-repeat center center;
    background-size: cover;
}

#img-midoriya {
    background: url(../Imagens/combo/midoryia.jpg) no-repeat center center;
    background-size: cover;
}

#img-todoroki {
    background: url(../Imagens/combo/todoroki.jpg) no-repeat center center;
    background-size: cover;
}

#img-bakugo {
    background: url(../Imagens/combo/bakugo.jpeg) no-repeat center center;
    background-size: cover;
}

#img-uraraka {
    background: url(../Imagens/combo/uraraka.jpeg) no-repeat center center;
    background-size: cover;
}

#img-mirio {
    background: url(../Imagens/combo/mirio.jpg) no-repeat center center;
    background-size: cover;
}